* {
    box-sizing: border-box;
    margin: 0px;
}

#wrapper {
    height: 100vh;
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#game__contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    height: 100%;
    padding-top: 12px;
}

.game__container {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--color-background-wrapper);
    border: solid var(--color-border-black) 1px;
    border-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    color:  var(--color-border-grey)
}

.game__container .game__title {
    color: var(--color-border-black);
}

.game__container .gmae__subtitle {
    font-size: 11px;
}

.game__word__text,
.game__word__button,
.game__lotto__button {
    height: 24px;
    vertical-align: middle;
    background-color: var(--color-background-wrapper-body);
    border: solid var(--color-border-black) 1px;
    border-radius: 5px;
    font-weight: 700;
}

.game__lotto__numbers {
    display: flex;
    padding: 0px 5px;
    background-color: yellow;
    border: solid var(--color-border-black) 1px;
    border-radius: 8px;
    font-weight: 700;
}

.game__lotto__numbers > span {
    color: black;
    margin: 2px 5px;
}