#wrapper {
    height: 100vh;
    padding: 36px;
}

#wrapper__game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 20px;
    color:  var(--color-grey-dark);
}

#game__contents {
    flex: 1;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.game__container {
    width: 45%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--color-bg);
    border: solid var(--color-black) 1px;
    border-radius: 10px;
    font-size: 13px;
    color: var(--color-grey-dark);
}

.game__container .game__title {
    color: var(--color-black);
}

.game__container .gmae__subtitle {
    font-size: 11px;
}

.game__word__text,
.game__word__button,
.game__lotto__button {
    height: 24px;
    vertical-align: middle;
    background-color: var(--color-white);
    border: solid var(--color-black) 1px;
    border-radius: 5px;
    font-weight: bold;
}

.game__lotto__numbers {
    display: flex;
    padding: 0px 5px;
    background-color: yellow;
    border: solid var(--color-black) 1px;
    border-radius: 8px;
    font-weight: bold;
}

.game__lotto__numbers > span {
    margin: 2px 5px;
    color: var(--color-black);
}